<ion-view title="Publish">
  <ion-content class="padding">
<!-- id exist user  -->
    <div>
      <label class="item item-input">
        <input 
          type="text" 
          placeholder="Title" 
          ng-model="item.name"/>
      </label>
      <label class="item item-input">
        <textarea 
          placeholder="Description" 
          ng-model="item.description" 
          style="min-height:100px;">
        </textarea>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Area</div>
          <select ng-model="item.area">
            <option selected></option>
            <option ng-repeat="area in areas">{{area.name}}</option>
          </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Category</div>
          <select ng-model="item.category">
            <option selected></option>
            <option ng-repeat="category in categories">{{category.name}}</option>
          </select>
      </label>
      <label class="item item-input">
        <input 
          type="number" 
          placeholder="Price" 
          ng-pattern="onlyNumbers" 
          ng-model="item.price">
      </label>
      <label class="item item-input">
        <input 
          type="email" 
          placeholder="Your Email" 
          ng-model="item.email">
      </label>
      <label class="item item-input">
        <input 
          type="text" 
          placeholder="Your telephone" 
          ng-model="item.telephone">
      </label>
      <label class="item item-input">
        <input 
          type="text" 
          placeholder="Your Address" 
          ng-model="item.address">
      </label>
      <input
        id="files" 
        type="file" 
        name="file" 
        onchange="angular.element(this).scope().photoChanged(this.files)"/>
      <div class="row">
        <div class="col col-80 col-offset-10">
          <img ng-src="{{ thumbnail.dataUrl }}" style="width:100%"/>
        </div>
      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col col-33 col-offset-33">
          <button 
            class="button button-energized" 
            style="width:100%" 
            ng-click="publishItem(item)">Publish
          </button>
        </div>
      </div>   
    </div>
<!-- else -->
  </ion-content>
</ion-view>